.searchError {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    font-size: 48px;
    font-weight: 100;
    margin-top: 10vh;
  }
  
  .animate__pulse {
    animation-duration: 1s;
  }
  
  @media (max-width: 768px) {
    .searchError > p {
        font-size: 40px;
    }
  }